body {
    background-color: black;
    color: whitesmoke;
    font-family: 'Bebas Neue', cursive;
}

button {
    font-family: 'Bebas Neue', cursive;
}

input {
    font-family: 'Bebas Neue', cursive;
}

.header {
    position: relative;
    height: 25vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


button {
    border: 1px solid transparent;
}

button:hover {
    cursor: pointer;
    background-color: black;
    color: white;
    border: 1px solid white;
}

.content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.image-count {
    display: inline-flex;
    width: 100%;
    height: fit-content;
    text-align: left;
}

.image-count .buffer {
    width: 20%;
}

.image-uploader {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    opacity: 100%;
    padding: 38vh 30vw;

}

.image-uploader .uploader-content {
    height: 24vh;
    width: 40vw;
    background-color: rgb(59, 58, 58);
    opacity: 100%;
    border-radius: .15em;
    position: fixed;
    box-shadow: 0 0 .5em .1em whitesmoke;
}

.hide {
    display: none;
}

.dampened {
    color: grey;
}

.uploader-content .file-upload-section {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;

}

.file-upload-section input {
    margin-bottom: 1vh;
    margin-left: 15%;
    width: 80%;
}

.file-upload-section #image_name {
    width: 50%;
}

.uploader-content .button-section {
    padding: 1vmin;
    position: absolute;
    right: 0;
    bottom: 0;
}

.uploader-content .button-section button {
    margin-left: .5vmin;
}

.form {
    height: 100%;
    width: 100%;

}

img {
    height: 35vmin;
    width: 35vmin;
    object-fit: scale-down;
}

input[type="text"]:focus {
    outline: none;
    box-shadow: 0 0 .1em .1em whitesmoke;
    background-color: black;
    color: whitesmoke;
}